/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <11>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                         | TAB | SPC | LWR | RSE | ENT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp TAB  &kp SPACE &mo 2 &mo 1  &kp RET
                        >;
                };

                lower_layer {
// ------------------------------------------------------------------------------------
// |      |  +  |  1  |  2  |  3  |  ~  |   | "|" |  [  |  (  |  )  |  ]  |     |
// |      |  -  |  4  |  5  |  6  |  `  |   |  _  |  !  |  @  |  #  |  $  |  {  |
// | CAPS |  =  |  7  |  8  |  9  |  /  |   |  \  |  *  |  &  |  ^  |  %  |  }  |
//                         |  .  |  0  | ADJ |    |     |
                        bindings = <
   &trans &kp PLUS  &kp N1 &kp N2 &kp N3 &kp TILDE   &kp PIPE  &kp LBKT &kp LPAR &kp RPAR  &kp RBKT  &trans
   &trans &kp MINUS &kp N4 &kp N5 &kp N6 &kp GRAVE   &kp UNDER &kp EXCL &kp AT   &kp HASH  &kp DLLR  &kp LBRC
   &trans &kp EQUAL &kp N7 &kp N8 &kp N9 &kp FSLH    &kp BSLH  &kp STAR &kp AMPS &kp CARET &kp PRCNT &kp RBRC
                                  &kp DOT  &kp N0 &mo 3 &trans &trans
                        >;
                };

                raise_layer {
// ----------------------------------------------------------------------------
// |     | F1  | F4  | F7  | F10 | GUISPC |   | MUTE | LTAB |  UP  | RTAB | PGUP | HOME |
// |     | F2  | F5  | F8  | F11 | PRINT  |   | VOL+ | LEFT | DOWN | RGHT | PGDN | END  |
// |     | F3  | F6  | F9  | F12 | ALTTAB |   | VOL- | DEL  | CALC | WIN. | WINV |      |
//                           | ALT | GUI |     | ADJ | ALTGR |
                        bindings = <
   &trans &kp F1 &kp F4 &kp F7 &kp F10 &kp LG(SPACE)   &kp C_MUTE   &kp LC(LS(TAB)) &kp UP        &kp LC(TAB) &kp PG_UP &kp HOME
   &trans &kp F2 &kp F5 &kp F8 &kp F11 &kp PSCRN       &kp C_VOL_UP &kp LEFT        &kp DOWN      &kp RIGHT   &kp PG_DN &kp END
   &trans &kp F3 &kp F6 &kp F9 &kp F12 &kp LA(TAB)     &kp C_VOL_DN &kp DEL         &kp C_AL_CALC &kp LG(DOT) &kp LG(V) &trans
                                 &LALT &LGUI &trans &mo 3 &RALT
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | POWER | RGB SAT+ | RGB HUE+ | RGB ANI+ | RGB BRI+ | RGB TOG |   | PLAY |     |     |     |     |     |
// | RESET | RGB SAT- | RGB HUE- | RGB ANI- | RGB BRI- |         |   | NEXT |     |     |     |     |     |
// | SLEEP |          |          |          |          |         |   | PREV |     |     |     |     |     |
//                                                  |     |     |     |     |     |
                        bindings = <
   &kp C_PWR   &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &rgb_ug RGB_BRI &rgb_ug RGB_TOG    &kp C_PP   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &sys_reset  &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none              &kp C_NEXT &none        &none        &none        &none        &none
   &kp C_SLEEP &none           &none           &none           &none           &none              &kp C_PREV &none        &none        &none        &none        &none
                                                                       &none      &none       &trans        &trans      &none
                        >;
                };
        };
};
